/bin/libgl.so
/bin/gtk3.supp
/bin/gui
/bin/libtrace.so
/bin/output/*
/bin/output.trace
/bin/test
/bin/trace
/bin/replaytrace
/bin/ui.glade~
/src/shared/glapi.c
/src/shared/glcorearb.h
/src/libtrace/replay_gl.c
/src/libgl.c
/src/libtrace/libtrace_glstate.h
*.pyc
*.o
*.d
/bin/gtk3.supp
/bin/tests
/WIP15.geany
/scripts/generated_gl_funcs.py
