/bin/gl.so
/bin/gtk3.supp
/bin/inspect
/bin/inspect-gui
/bin/libinspect.so
/bin/libtrace.so
/bin/output/*
/bin/output.trace
/bin/test
/bin/trace
/bin/leakcheck
/bin/ui.glade~
/src/glapi.c
/src/glapi.h
/src/replay_gl.c
*.pyc
/bin/gtk3.supp
/bin/tests
/bin/testtrace
