/bin/libgl.so
/bin/gtk3.supp
/bin/inspect
/bin/inspect-gui
/bin/libinspect.so
/bin/libtrace.so
/bin/output/*
/bin/output.trace
/bin/test
/bin/trace
/bin/leakcheck
/bin/ui.glade~
/src/shared/glapi.c
/src/libinspect/replay_gl.c
/src/libgl.c
*.pyc
*.o
*.d
/bin/gtk3.supp
/bin/tests
/bin/testtrace
/WIP15.geany
/scripts/output_gl.c
/scripts/generated_gl_funcs.py
